:root {
  --background: #fff;
  --text-primary: #000;
  --button-bg: #000;
  --button-text: #fff;
}

[data-theme="dark"] {
  --background: #000;
  --text-primary: #fff;
  --button-bg: #fff;
  --button-text: #000;
}

.light-dark-mode {
  background-color: var(--background);
}

input:checked ~ .dot {
  transform: translateX(100%);
}
