/* Preloader */

#preloader {
  position: fixed; /* Ensure it covers the entire viewport */
  top: 0;
  left: 0;
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
  background-color: #fff; /* Background mask color */
  z-index: 99999; /* Ensure it stays on top */
  display: flex; /* Flexbox for centering */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.loader {
  font-size: 10px;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
}
.loader:after {
  background: #fff;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: "";
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.loader {
  background: #00d999;
  background: -moz-linear-gradient(
    left,
    #00d999 10%,
    rgba(255, 255, 255, 0) 42%
  );
  background: -webkit-linear-gradient(
    left,
    #00d999 10%,
    rgba(255, 255, 255, 0) 42%
  );
  background: -o-linear-gradient(left, #00d999 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(
    left,
    #00d999 10%,
    rgba(255, 255, 255, 0) 42%
  );
  background: linear-gradient(
    to right,
    #00d999 10%,
    rgba(255, 255, 255, 0) 42%
  );
}
.loader:before {
  background: #00d999;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.detail-mid ol li,
.detail-mid ul li,
.detail-mid table tbody td ul,
.detail-mid table tbody td ol {
  list-style: inherit;
  text-align: left;
}
li:has(strong)::marker {
  font-weight: bold;
}

.detail-mid ol,
.detail-mid ul {
  list-style: inherit;
  padding-left: 20px;
}

.detail-mid table tbody td {
  padding: 10px 15px;
}

.detail-mid > img {
  width: 75%;
  min-width: 270px;
}

.detail-mid table td {
  text-align: center;
  border: 1px solid #112a3f;
}

.detail-mid table td ul {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}
.detail-mid table th {
  background-color: #cfe2f3;
}

.detail-mid table:not(:has(thead)) tbody tr:first-child,
.detail-mid table:not(:has(th)) tbody tr:first-child {
  background-color: #cfe2f3;
}

.detail-mid table:not(:has(thead)) tbody tr:first-child p,
.detail-mid table:not(:has(th)) tbody tr:first-child p {
  font-weight: bold;
}

.detail-mid ol li {
  list-style-type: decimal;
}

.detail-mid {
  gap: 10px;
}

.detail-mid h2,
.detail-mid h3,
.detail-mid h4,
.detail-mid h5,
.detail-mid h6,
.detail-mid img {
  padding-top: 20px;
  font-family: "Figtree";
  font-weight: bold;
}

.detail-mid li strong,
.detail-mid p strong,
.detail-mid h2 strong,
.detail-mid h2 strong,
.detail-mid h3 strong,
.detail-mid h4 strong,
.detail-mid h5,
.detail-mid h6 {
  font-family: "Figtree";
}

.detail-mid a {
  display: block;
  width: fit-content;
  border: 2px solid #1d3054;
  border-radius: 4px;
  color: #1d3054;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  padding: 10px 26px;
}

.detail-mid a:hover {
  background-color: #1d3054;
  color: white;
}
.detail-left-inner > a.active-hash-link {
  color: #2aac08; /* Highlight color */
  font-weight: 600; /* Bold text */
}

/* General table styles */
table {
  width: 100%;
  border-collapse: collapse;
}

/* Make the table scrollable for iPad and smaller screens */
@media screen and (max-width: 1024px) {
  table {
    display: block; /* Enable block layout */
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent text wrapping */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling for touch devices */
  }

  table th,
  table td {
    white-space: nowrap; /* Prevent wrapping in cells */
  }
}

/* Optional: Style for scrollbars */
table::-webkit-scrollbar {
  height: 6px;
}

table::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

table::-webkit-scrollbar-thumb:hover {
  background: #555;
}
